@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/questions/20050939/print-page-numbers-on-pages-when-printing-html */
/* Based on the response from https://github.com/MatthewHerbst/react-to-print/issues/322 and https://github.com/MatthewHerbst/react-to-print/issues/306, is seems like it is not possible to customize the page number after calling `.print()` */
/* I  wasn't able to change the position of the page number using the @bottom-center. It still appears at the bottom right of the page.  */

.nav-custom {
  background: linear-gradient(to bottom, #434343, #000000);
}

/* https://github.com/tailwindlabs/headlessui/issues/762 */
/* There is a bug in headlessui where if the dropdown menu is too long, it will add padding-right to account for the scrollbar */
html {
  padding-right: 0px !important;
}

#root {
  height: 100vh;
}
